html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
}

// .card-img {
//   width: 100px;
// }

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card {
  transition: 0.3s;
  box-shadow: 3px 3px 8px rgb(145, 145, 145);
}
.card:hover {
  transition: 0.3s;
  transform: scale(0.99);
  box-shadow: none;
}

.headline {
  position: relative;
}

.headline::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(199, 199, 199);
  position: absolute;
  top: -40px;
  left: -0px;
  overflow: hidden;
}

.passfoto {
  width: 300px;
  border: 7px solid $primary;
  border-radius: 50%;
  transition: 0.3s;
}

.passfoto:hover {
  transition: 0.3s;
  border: 11px solid rgb(161, 26, 26);
}

.card-body {
  //   background-image: linear-gradient(90deg, #fff, rgb(228, 194, 194));
}

.social i {
  font-size: 50px;
  color: $primary;
  transition: 0.3s;
}

.social a:hover i {
  // transform: rotateY(360deg);
  transition: 0.3s;
  color: rgb(179, 28, 28);
}
