html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
}

// .card-img {
//   width: 100px;
// }

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card {
  transition: 0.3s;
}
.card:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.headline {
  position: relative;
}

.headline::before {
  content: "";
  display: block;
  width: 140%;
  height: 2px;
  background-color: rgb(199, 199, 199);
  position: absolute;
  top: -40px;
  left: -200px;
}

.passfoto {
  width: 330px;
  border: 7px solid $primary;
  border-radius: 50%;
}

.card-body {
  //   background-image: linear-gradient(90deg, #fff, rgb(228, 194, 194));
}

.social i {
  font-size: 50px;
  color: $primary;
  transition: 0.5s;
}

.social a:hover i {
  //   transform: rotateY(360deg);
  transition: 0.6s;
  color: rgb(185, 15, 15);
}
