// This is where you can import other stylesheets or write your scss code
$primary: #991c13e3;
$secondary: rgb(218, 218, 218);
$dark: black;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "layout";
